<%- include('header') -%>

<div class="not-found">
    <h1>404 - Síða fannst ekki</h1>
    <p>Því miður, síðan sem þú ert að leita að er ekki til.</p>
    <a href="/" class="back-home">Til baka á forsíðu</a>
</div>

<%- include('footer') -%>
