<%- include('header') -%>

<div class="categories">
  <% if (categories.length > 0) { %>
    <% categories.forEach(category => { %>
      <div class="category-card">
        <h2>
          <a href="/spurningar/<%= category.name.toLowerCase().replace(/\s+/g, '') %>">
            <%= category.name %>
          </a>
        </h2>
      </div>
    <% }) %>
  <% } else { %>
    <p>No categories available.</p>
  <% } %>
</div>

<%- include('footer') -%>
