@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sen:wght@400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    /* Litir */
    --color-main: #355aff;
    --color-black: #000;
    --color-white: #fff;


    /* Letur */
    --font-header: 400;
}

header {
    padding: 1rem;
    background: var(--color-main);
    color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    & ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 8px;

        & li {
            list-style-type: none;

            & a {
                position: relative;
                text-decoration: none;
                color: var(--color-white);
            }

            & a::before {
                position: absolute;
                content: '';
                background: var(--color-white);
                bottom: 0;
                left: 0;
                height: 2px;
                width: 0;
            }

            & a:hover::before {
                width: 100%;
                transition: 0.3s ease-out;
            }

        }
    }
}

.categories {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;

    & h1 {
        font-weight: var(--font-header);
        border-bottom: var(--color-main) 3px solid;
    }
}

.category {
    text-decoration: none;
    align-items: center;
    display: flex;


    & h2 {
        display: flex;
        font-weight: var(--font-header);

        & a {
            width: 100%;
            position: relative;
            text-decoration: none;
            color: var(--color-black);
        }

        & a::before {
            position: absolute;
            content: '';
            background: var(--color-main);
            height: 3px;
            width: 0;
            bottom: 0;
            left: 0;
        }

        & a:hover::before {
            width: 100%;
            transition: 0.3s ease-out;
        }

    }


}


.content {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;

    & .quiz {
        padding: 1rem;
    }

    & h1 {
        font-weight: var(--font-header);
        border-bottom: solid 3px var(--color-main);
    }

    & h3 {
        font-weight: 500;
    }

    & ul {
        margin-bottom: 1rem;
        display: grid;
        gap: 5px;

        & li {
            list-style-type: none;

            & button {
                position: relative;
                padding: 0.5rem;
                border-radius: 10px;
                width: 60%;
                text-align: left;
                border: none;
                background: var(--color-main);
                color: var(--color-white);
            }

            & button:hover {
                transition: 0.3s;
                scale: 1.005;
                box-shadow: var(--color-black) 5px 5px;
            }

            & button:active {
                scale: 1;
                box-shadow: none;
            }            
        }
    }
}